<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyKyTucXa" connectionString="Data Source=PC;Initial Catalog=QuanLyKyTucXaDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyKyTucXa.Properties.Settings.QuanLyKyTucXaDBConnectionString"
            connectionString="Data Source=(local);Initial Catalog=QuanLyKyTucXaDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyKyTucXa.Properties.Settings.QuanLyKyTucXaDBConnectionString1"
            connectionString="Data Source=(local);Initial Catalog=QuanLyKyTucXaDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>